{deps_dir, ["deps"]}.
{erl_opts, [debug_info]}.
{deps, [
  {restc, ".*", {git, "git://github.com/kivra/restclient.git", {branch, "master"}}},
  {mochiweb, ".*", {git, "git://github.com/mochi/mochiweb.git", {branch, "master"}}},
  {hackney, ".*", {git, "git://github.com/benoitc/hackney.git", {branch, "master"}}},
  {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", {branch, "master"}}}
]}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
{eunit_opts, [verbose]}.
